extends layout

block content
  article
    div.pull-right
        .new-phrase
            button(class="btn btn-default")
                span(class="fa fa-repeat")
                span(class="lang") New Phrase
        .language
            button(class="btn btn-default")
                span(class="fa fa-globe")
                span(class="lang")
    svg
    
